

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  font-weight: 100;
}

.header__links {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.header__links a {
  color:rgb(2, 2, 54);
  text-decoration: none;
  font-weight: bolder;
}

.header__links a:hover {
  color:  #5f5fff;
  text-decoration:  underline 2px dashed  #5f5fff;
}