.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(106, 106, 122);
}

.header__links{
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header a {
  color:white;
  margin: 7px;
  padding: 10px;
  text-decoration: none;
}

.header a:hover {
  color: rgb(28, 190, 142);
  border-bottom: 2px solid rgb(28, 190, 142);
  padding: 10px
}