.project__page {
  margin-left:10%;
  margin-right:10%;
  margin-bottom: 5%;
}

.project__page__title {
  padding-top: 60px;
  padding-bottom: 70px;
  color: rgb(2, 2, 54);
  font-size: 50px ;
  font-weight: bolder;
  text-shadow: 5px 5px 0 rgb(95 95 255 / 40%);
}

.project__list {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.project__card {
  width: 300px;
  height:500px;
  border-radius: 0.5em;
  transition: border ease 0.5s;
  box-shadow: 4px 4px 0 rgb(95 95 255 / 50%);
  margin-right: 60px;

}

.project__card > h1 {
  color: rgb(2, 2, 54);
  font-size: 15px;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 5px 5px 0 rgb(95 95 255 / 30%);
  margin-left: 2%

}

.project__card > p { 
  padding-bottom: 20px;
  font-weight: bold;
  margin-right: 15px;
  margin-left: 2%


}

.photo {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width:300px;
  height:200px;
}


.project__btn {
  font-size: medium;
  background-color: #5f5fff;
  color:white;
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 1rem;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: border ease 0.5s;
  box-shadow: 4px 4px 0 rgb(95 95 255 / 50%);
}

.btn__movement__two {
  padding-top: 60px;
}

.repo__btn {
  width: 100%;
  padding-top: 30px;
  text-align: end;
  
}



.repo__btn > h1 {
  color: rgb(2, 2, 54);
  font-size: 15px;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 5px 5px 0 rgb(95 95 255 / 30%);
}
